Repository hexojs/site, changes with the labels that .github/labeler.yml gives for each.
All labels: Plugins, Themes, Docs, API, News, en, ko, pt-br, ru, th, zh, infra

.github/labeler.yml:

Plugins:
  - "source/_data/plugins/**"
Themes:
  - "source/_data/themes/**"
  - "source/themes/screenshots/**"
Docs:
  - "source/docs/**"
  - "source/*/docs/**"
API:
  - "source/api/**"
  - "source/*/api/**"
News:
  - "source/_posts/**"
en:
  - "source/docs/**"
  - "source/api/**"
  - "source/index.md"
ko:
  - "source/ko/**"
pt-br:
  - "source/pt-br/**"
ru:
  - "source/ru/**"
th:
  - "source/th/**"
zh:
  - "source/zh-cn/**"
  - "source/zh-tw/**"
infra:
  - ".github/**"
  - ".husky/**"
  - "scaffolds/**"
  - "themes/**"
  - "scripts/**"
  - "*"
  - ".*"

plugin: add hexo-tag-embed
  source/_data/plugins/hexo-tag-embed.yml
Labels: Plugins

docs(tag-plugins): add url_for and full_url_for(7.0.0+) (#2022)
  source/docs/tag-plugins.md
  source/ru/docs/tag-plugins.md
  source/zh-cn/docs/tag-plugins.md
  source/zh-tw/docs/tag-plugins.md
Labels: Docs, en, ru, zh

docs(commands): add config command (#2096)
  source/docs/commands.md
  source/zh-cn/docs/commands.md
Labels: Docs, en, zh

Update source/docs/tag-plugins.md
  source/docs/tag-plugins.md
Labels: Docs, en

docs: add warn for bundled tags which deleted in `v7.0.0` (#1948)
  source/_data/plugins/hexo-tag-embed.yml
  source/docs/tag-plugins.md
  source/ru/docs/tag-plugins.md
  source/zh-cn/docs/tag-plugins.md
  source/zh-tw/docs/tag-plugins.md
Labels: Plugins, Docs, en, ru, zh

Add ZenMind theme
  source/_data/themes/ZenMind.yml
  source/themes/screenshots/ZenMind.png
Labels: Themes

Add ZenMind theme (#2100)
  source/_data/themes/ZenMind.yml
  source/themes/screenshots/ZenMind.png
Labels: Themes

chore(news): release news `v7.0.0`
  source/_posts/2023-11-03-hexo-7-0-0-released.md
Labels: News

chore(news): release news `v7.0.0` (#2101)
  source/_posts/2023-11-03-hexo-7-0-0-released.md
Labels: News

Add theme Dashed
  source/_data/themes/Dashed.yml
  source/themes/screenshots/Dashed.png
Labels: Themes

docs(about): fix gramatical errors (#2097)
  source/about/index.md
Labels: none

docs: fix gramatical and typographical errors (#2098)
  source/docs/configuration.md
  source/docs/contributing.md
  source/docs/front-matter.md
  source/docs/github-pages.md
  source/docs/helpers.md
  source/docs/one-command-deployment.md
  source/docs/syntax-highlight.md
  source/docs/tag-plugins.md
  source/docs/themes.md
  source/docs/troubleshooting.md
  source/docs/writing.md
Labels: Docs, en

Add theme Dashed (#2102)
  source/_data/themes/Dashed.yml
  source/themes/screenshots/Dashed.png
Labels: Themes

addLenguxTheme
  source/_data/themes/Lengux.yml
  source/themes/screenshots/Lengux.png
Labels: Themes

docs: v7.0.0 changes
  source/docs/configuration.md
  source/zh-cn/docs/configuration.md
  source/zh-cn/docs/tag-plugins.md
  source/zh-tw/docs/configuration.md
Labels: Docs, en, zh

Update Lengux.yml
  source/_data/themes/Lengux.yml
Labels: Themes

docs(zh-cn): highlight
  source/zh-cn/docs/syntax-highlight.md
Labels: Docs, zh

docs(zh-cn): highlight
  source/zh-cn/docs/syntax-highlight.md
Labels: Docs, zh

docs(en): highlight
  source/docs/syntax-highlight.md
Labels: Docs, en

chore: update news
  source/_posts/2023-11-03-hexo-7-0-0-released.md
Labels: News

theme: add Lengux Theme (#2104)
  source/_data/themes/Lengux.yml
  source/themes/screenshots/Lengux.png
Labels: Themes

docs: node version
  source/docs/index.md
  source/ko/docs/index.md
  source/pt-br/docs/index.md
  source/ru/docs/index.md
  source/th/docs/index.md
  source/zh-cn/docs/index.md
  source/zh-tw/docs/index.md
Labels: Docs, en, ko, pt-br, ru, th, zh

plugin: add hexo-shiki-plugin
  source/_data/plugins/hexo-shiki-plugin.yml
Labels: Plugins

document v7.0 breaking change
  source/docs/syntax-highlight.md
Labels: Docs, en

Update source/docs/syntax-highlight.md
  source/docs/syntax-highlight.md
Labels: Docs, en

docs: v7.0.0 changes (#2105)
  source/_posts/2023-11-03-hexo-7-0-0-released.md
  source/docs/configuration.md
  source/docs/index.md
  source/docs/syntax-highlight.md
  source/ko/docs/index.md
  source/pt-br/docs/index.md
  source/ru/docs/index.md
  source/th/docs/index.md
  source/zh-cn/docs/configuration.md
  source/zh-cn/docs/index.md
  source/zh-cn/docs/syntax-highlight.md
  source/zh-cn/docs/tag-plugins.md
  source/zh-tw/docs/configuration.md
  source/zh-tw/docs/index.md
Labels: Docs, News, en, ko, pt-br, ru, th, zh

plugin: add hexo-shiki-plugin (#2107)
  source/_data/plugins/hexo-shiki-plugin.yml
Labels: Plugins

feat: added hexo-multiauthor-plugin to plugin directory
  source/_data/plugins/hexo-multiauthor-plugin.yml
Labels: Plugins

docs: update link
  source/docs/commands.md
  source/docs/syntax-highlight.md
  source/ru/docs/commands.md
  source/ru/docs/gitlab-pages.md
  source/ru/docs/syntax-highlight.md
  source/zh-cn/docs/commands.md
  source/zh-cn/docs/configuration.md
  source/zh-cn/docs/gitlab-pages.md
  source/zh-cn/docs/index.md
  source/zh-cn/docs/syntax-highlight.md
  source/zh-tw/docs/commands.md
  source/zh-tw/docs/gitlab-pages.md
  source/zh-tw/docs/syntax-highlight.md
Labels: Docs, en, ru, zh

Add plugin hexo-tag-pcloud
  source/_data/plugins/hexo-tag-pcloud.yml
Labels: Plugins

feat: add new theme Last
  source/_data/themes/Last.yml
  source/themes/screenshots/Last.png
Labels: Themes

add plugin hexo-auto-backup
  source/_data/plugins/hexo-auto-backup.yml
Labels: Plugins

theme: add new theme Last (#2115)
  source/_data/themes/Last.yml
  source/themes/screenshots/Last.png
Labels: Themes

Add plugin hexo-tag-pcloud (#2113)
  source/_data/plugins/hexo-tag-pcloud.yml
Labels: Plugins

add plugin hexo-auto-backup (#2117)
  source/_data/plugins/hexo-auto-backup.yml
Labels: Plugins

docs: update link (#2111)
  source/docs/commands.md
  source/docs/syntax-highlight.md
  source/ru/docs/commands.md
  source/ru/docs/gitlab-pages.md
  source/ru/docs/syntax-highlight.md
  source/zh-cn/docs/commands.md
  source/zh-cn/docs/configuration.md
  source/zh-cn/docs/gitlab-pages.md
  source/zh-cn/docs/index.md
  source/zh-cn/docs/syntax-highlight.md
  source/zh-tw/docs/commands.md
  source/zh-tw/docs/gitlab-pages.md
  source/zh-tw/docs/syntax-highlight.md
Labels: Docs, en, ru, zh

plugin: add hexo-multiauthor-plugin (#2109)
  source/_data/plugins/hexo-multiauthor-plugin.yml
Labels: Plugins

This url was changed
  source/_data/themes/Bcxm.yml
Labels: Themes
