Repository hexojs/site, changes with the labels that .github/labeler.yml gives for each.
All labels: Plugins, Themes, Docs, API, News, en, ja, ko, pt-br, ru, th, zh, infra

.github/labeler.yml:

Plugins:
  - changed-files:
      - any-glob-to-any-file:
          - "source/_data/plugins/**"
Themes:
  - changed-files:
      - any-glob-to-any-file:
          - "source/_data/themes/**"
          - "source/themes/screenshots/**"
Docs:
  - changed-files:
      - any-glob-to-any-file:
          - "source/docs/**"
          - "source/*/docs/**"
API:
  - changed-files:
      - any-glob-to-any-file:
          - "source/api/**"
          - "source/*/api/**"
News:
  - changed-files:
      - any-glob-to-any-file:
          - "source/_posts/**"
en:
  - changed-files:
      - any-glob-to-any-file:
          - "source/docs/**"
          - "source/api/**"
          - "source/index.md"
ja:
  - changed-files:
      - any-glob-to-any-file:
          - "source/ja/**"
ko:
  - changed-files:
      - any-glob-to-any-file:
          - "source/ko/**"
pt-br:
  - changed-files:
      - any-glob-to-any-file:
          - "source/pt-br/**"
ru:
  - changed-files:
      - any-glob-to-any-file:
          - "source/ru/**"
th:
  - changed-files:
      - any-glob-to-any-file:
          - "source/th/**"
zh:
  - changed-files:
      - any-glob-to-any-file:
          - "source/zh-cn/**"
          - "source/zh-tw/**"
infra:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
          - ".husky/**"
          - "scaffolds/**"
          - "themes/**"
          - "scripts/**"
          - "*"
          - ".*"

docs: update permalink variables (#2085)
  source/docs/permalinks.md
  source/ja/docs/permalinks.md
  source/ko/docs/permalinks.md
  source/pt-br/docs/permalinks.md
  source/ru/docs/permalinks.md
  source/th/docs/permalinks.md
  source/zh-cn/docs/permalinks.md
  source/zh-tw/docs/permalinks.md
Labels: Docs, en, ja, ko, pt-br, ru, th, zh

docs(zh-tw): update with reviewer's suggestion
  source/zh-tw/docs/configuration.md
  source/zh-tw/docs/contributing.md
  source/zh-tw/docs/tag-plugins.md
Labels: Docs, zh

add hexo-filter-titlebased-link plugin
  source/_data/plugins/hexo-filter-titlebased-link.yml
Labels: Plugins

write config
  source/_data/plugins/hexo-filter-titlebased-link.yml
Labels: Plugins

chore: add plugin `hexo-front-matter-defaults`
  source/_data/plugins/hexo-front-matter-defaults.yml
Labels: Plugins

Add a plugin: hexo-filter-titlebased-link (#2167)
  source/_data/plugins/hexo-filter-titlebased-link.yml
Labels: Plugins

chore: add plugin `hexo-front-matter-defaults` (#2168)
  source/_data/plugins/hexo-front-matter-defaults.yml
Labels: Plugins

Update .github/workflows/cleaner.yml
  .github/workflows/cleaner.yml
Labels: infra

Update .github/workflows/cleaner.yml
  .github/workflows/cleaner.yml
Labels: infra

Update cleaner.js
  .github/workflows/cleaner.js
Labels: infra

chore: use GitHub actions to sanitize themes & plugins list (#2164)
  .github/workflows/cleaner.js
  .github/workflows/cleaner.yml
Labels: infra

chore: clean up themes & plugins
  source/_data/plugins/hexo-abbrlink3.yml
  source/_data/plugins/hexo-encrypted-package-html.yml
  source/_data/themes/simple99.yml
Labels: Plugins, Themes

chore: add plugin `hexo-browser-reloader-websocket`
  source/_data/plugins/hexo-browser-reloader-websocket.yml
Labels: Plugins
