Repository hexojs/site, changes with the labels that .github/labeler.yml gives for each.
All labels: plugin, theme, docs, api, ko, pt-br, ru, th, zh, site-theme, site-script

Create hexo-swpp.yml
  source/_data/plugins/hexo-swpp.yml
Labels: plugin

plugin: Add hexo-swpp
  source/_data/plugins/hexo-swpp.yml
Labels: plugin

remove badge
  README.md
Labels: none

docs: add plugin hexo-bin-pagination (#2018)
  source/_data/plugins/hexo-bin-pagination.yml
Labels: plugin

docs(front-matter): describe variable `published`
  source/docs/front-matter.md
  source/ru/docs/front-matter.md
  source/zh-cn/docs/front-matter.md
  source/zh-tw/docs/front-matter.md
Labels: docs, ru, zh

fix: `ko` is 404
  source/ko/index.md
  source/ko/index.pug
Labels: ko

chore: delete mention of `jade` and `haml` templates
  source/_data/plugins/hexo-render-pug.yml
  source/docs/themes.md
  source/ru/docs/themes.md
  source/zh-cn/docs/themes.md
  source/zh-tw/docs/themes.md
Labels: plugin, docs, ru, zh

docs: delete mention of `jade` and `haml` templates (#2069)
  source/_data/plugins/hexo-render-pug.yml
  source/docs/themes.md
  source/ru/docs/themes.md
  source/zh-cn/docs/themes.md
  source/zh-tw/docs/themes.md
Labels: plugin, docs, ru, zh

fix: `ko` is 404 (#2068)
  source/ko/index.md
  source/ko/index.pug
Labels: ko

fix(plugins): `hexo-render-pug` url
  source/_data/plugins/hexo-render-pug.yml
Labels: plugin

fix(plugins): `hexo-render-pug` url (#2070)
  source/_data/plugins/hexo-render-pug.yml
Labels: plugin

Fix typo
  source/docs/one-command-deployment.md
Labels: docs

theme: update the screenshot for theme Vivia
  source/themes/screenshots/Vivia.png
Labels: none

docs(zh-cn): updaye themes, plugins
  source/zh-cn/docs/plugins.md
  source/zh-cn/docs/themes.md
Labels: docs, zh

docs(zh-cn): updaye themes, plugins
  source/zh-cn/docs/themes.md
Labels: docs, zh

theme: update the screenshot for theme Vivia (#2071)
  source/themes/screenshots/Vivia.png
Labels: none

docs(zh-cn): update themes, plugins (#2072)
  source/zh-cn/docs/plugins.md
  source/zh-cn/docs/themes.md
Labels: docs, zh

docs(zh-cn): fix typo error
  source/zh-cn/docs/syntax-highlight.md
Labels: docs, zh

Update source/zh-cn/docs/front-matter.md
  source/zh-cn/docs/front-matter.md
Labels: docs, zh

Rename to overview
  source/_data/sidebar.yml
Labels: none

docs(front-matter): describe variable `published` (#2066)
  source/docs/front-matter.md
  source/ru/docs/front-matter.md
  source/zh-cn/docs/front-matter.md
  source/zh-tw/docs/front-matter.md
Labels: docs, ru, zh

fix badge
  README.md
Labels: none

Add new theme: Fengye
  source/_data/themes/Fengye.yml
  source/themes/screenshots/Fengye.png
Labels: theme

add hexo pro plugin yml
  source/_data/plugins/hexo-pro.yml
Labels: plugin

theme: add Fengye (#2074)
  source/_data/themes/Fengye.yml
  source/themes/screenshots/Fengye.png
Labels: theme

docs(zh-cn): fix typo (#2073)
  source/zh-cn/docs/syntax-highlight.md
Labels: docs, zh

remove pug
  source/index.pug
Labels: none

separate template and text
  themes/navy/languages/en.yml
  themes/navy/layout/index.njk
Labels: none

docs(README): fix badge and update instruction (#2065)
  README.md
Labels: none

docs(zh-cn): update translation
  source/zh-cn/api/box.md
  source/zh-cn/api/console.md
  source/zh-cn/api/deployer.md
  source/zh-cn/api/events.md
  source/zh-cn/api/filter.md
  source/zh-cn/api/generator.md
  source/zh-cn/api/helper.md
  source/zh-cn/api/index.md
  source/zh-cn/api/posts.md
  source/zh-cn/api/renderer.md
  source/zh-cn/api/rendering.md
  source/zh-cn/api/router.md
  source/zh-cn/api/tag.md
  source/zh-cn/api/themes.md
  source/zh-cn/docs/commands.md
  source/zh-cn/docs/contributing.md
  source/zh-cn/docs/data-files.md
  source/zh-cn/docs/github-pages.md
  source/zh-cn/docs/helpers.md
  source/zh-cn/docs/plugins.md
  source/zh-cn/docs/themes.md
  source/zh-cn/docs/troubleshooting.md
Labels: docs, api, zh

Update source/zh-cn/api/generator.md
  source/zh-cn/api/generator.md
Labels: api, zh

Update source/zh-cn/api/posts.md
  source/zh-cn/api/posts.md
Labels: api, zh

Update source/zh-cn/api/helper.md
  source/zh-cn/api/helper.md
Labels: api, zh

Update source/zh-cn/api/rendering.md
  source/zh-cn/api/rendering.md
Labels: api, zh

Update source/zh-cn/api/events.md
  source/zh-cn/api/events.md
Labels: api, zh

Update source/zh-cn/api/events.md
  source/zh-cn/api/events.md
Labels: api, zh

add hexo pro plugin yml (#2075)
  source/_data/plugins/hexo-pro.yml
Labels: plugin

docs: use GitHub Actions to deploy to GitHub Pages directly
  source/docs/github-pages.md
Labels: docs

docs: update github-pages for git submodule
  source/docs/github-pages.md
  source/zh-cn/docs/github-pages.md
Labels: docs, zh

rename step from page to build
  source/docs/github-pages.md
Labels: docs

.github/labeler.yml:

plugin:
  - "source/_data/plugins/**"
theme:
  - "source/_data/themes/**"
docs:
  - "source/docs/**"
  - "source/*/docs/**"
api:
  - "source/api/**"
  - "source/*/api/**"
ko:
  - "source/ko/**"
pt-br:
  - "source/pt-br/**"
ru:
  - "source/ru/**"
th:
  - "source/th/**"
zh:
  - "source/zh-cn/**"
  - "source/zh-tw/**"
site-theme:
  - "/themes/**"
site-script:
  - "/scripts/**"
