Repository hexojs/site, pull requests merged in 2023-11, with the labels that each got.

#1948 docs: add warn for bundled tags which deleted in `v7.0.0`
  source/_data/plugins/hexo-tag-embed.yml
  source/docs/tag-plugins.md
  source/ru/docs/tag-plugins.md
  source/zh-cn/docs/tag-plugins.md
  source/zh-tw/docs/tag-plugins.md
Labels: Docs, zh, en, Plugins, ru

#2100 Add ZenMind theme
  source/_data/themes/ZenMind.yml
  source/themes/screenshots/ZenMind.png
Labels: Themes

#2101 chore(news): release news `v7.0.0`
  source/_posts/2023-11-03-hexo-7-0-0-released.md
Labels: News

#2098 docs: fix gramatical and typographical errors
  source/docs/configuration.md
  source/docs/contributing.md
  source/docs/front-matter.md
  source/docs/github-pages.md
  source/docs/helpers.md
  source/docs/one-command-deployment.md
  source/docs/syntax-highlight.md
  source/docs/tag-plugins.md
  source/docs/themes.md
  source/docs/troubleshooting.md
  source/docs/writing.md
Labels: Docs, en

#2102 Add theme Dashed
  source/_data/themes/Dashed.yml
  source/themes/screenshots/Dashed.png
Labels: Themes

#2104 theme: add Lengux Theme
  source/_data/themes/Lengux.yml
  source/themes/screenshots/Lengux.png
Labels: Themes

#2105 docs: v7.0.0 changes
  source/_posts/2023-11-03-hexo-7-0-0-released.md
  source/docs/configuration.md
  source/docs/index.md
  source/docs/syntax-highlight.md
  source/ko/docs/index.md
  source/pt-br/docs/index.md
  source/ru/docs/index.md
  source/th/docs/index.md
  source/zh-cn/docs/configuration.md
  source/zh-cn/docs/index.md
  source/zh-cn/docs/syntax-highlight.md
  source/zh-cn/docs/tag-plugins.md
  source/zh-tw/docs/configuration.md
  source/zh-tw/docs/index.md
Labels: Docs, zh, en, ko, pt-br, ru, th, News

#2107 plugin: add hexo-shiki-plugin
  source/_data/plugins/hexo-shiki-plugin.yml
Labels: Plugins
