Repository hexojs/site, pull requests merged in 2023-12, with the labels that each got.

#2115 Theme: add new theme "Last"
  source/_data/themes/Last.yml
  source/themes/screenshots/Last.png
Labels: Themes

#2113 plugin: add plugin hexo-tag-pcloud
  source/_data/plugins/hexo-tag-pcloud.yml
Labels: Plugins

#2117 plugin: add plugin hexo-auto-backup
  source/_data/plugins/hexo-auto-backup.yml
Labels: Plugins

#2111 docs: update link
  source/docs/commands.md
  source/docs/syntax-highlight.md
  source/ru/docs/commands.md
  source/ru/docs/gitlab-pages.md
  source/ru/docs/syntax-highlight.md
  source/zh-cn/docs/commands.md
  source/zh-cn/docs/configuration.md
  source/zh-cn/docs/gitlab-pages.md
  source/zh-cn/docs/index.md
  source/zh-cn/docs/syntax-highlight.md
  source/zh-tw/docs/commands.md
  source/zh-tw/docs/gitlab-pages.md
  source/zh-tw/docs/syntax-highlight.md
Labels: Docs, zh, en, ru

#2109 plugin: add hexo-multiauthor-plugin
  source/_data/plugins/hexo-multiauthor-plugin.yml
Labels: Plugins

#2121 chore: remove Google Ads
  themes/navy/layout/partial/head.njk
  themes/navy/source/ads.txt
Labels: infra

#2122 chore: remove carbonads
  themes/navy/layout/page.njk
  themes/navy/layout/partial/carbonads.njk
  themes/navy/source/css/_partial/carbonads.styl
  themes/navy/source/css/navy.styl
Labels: infra

#2123 theme: update preview link
  source/_data/themes/A-Quark.yml
  source/_data/themes/ARIA.yml
  source/_data/themes/Aomori.yml
  source/_data/themes/Cafe.yml
  source/_data/themes/Candelas.yml
  source/_data/themes/Coder.yml
  source/_data/themes/Even.yml
  source/_data/themes/Gandalfr.yml
  source/_data/themes/July.yml
  source/_data/themes/Lap.yml
  source/_data/themes/Lightx.yml
  source/_data/themes/M-Terminal.yml
  source/_data/themes/Nothinglin.yml
  source/_data/themes/Ochuunn.yml
  source/_data/themes/Primer.yml
  source/_data/themes/ProWiki.yml
  source/_data/themes/blank.yml
  source/_data/themes/concise.yml
  source/_data/themes/indigo.yml
  source/_data/themes/ztopic.yml
Labels: Themes
