Repository hexojs/site, pull requests merged in 2023-10, with the labels that each got.

#2083 docs(zh-cn): use GitHub Actions to deploy to GitHub Pages directly
  source/zh-cn/docs/github-pages.md
Labels: Docs, zh

#2087 theme: add Hexo-Theme-Anatole-Core-Resume
  source/_data/themes/Anatole-Core-Resume.yml
  source/themes/screenshots/Anatole-Core-Resume.png
Labels: Themes

#2090 theme: add theme hexo-theme-zen
  source/_data/themes/zen.yml
  source/themes/screenshots/zen.png
Labels: Themes

#2091 Plugin: hexo-post-replace
  source/_data/plugins/hexo-post-replace
Labels: Plugins

#2088 docs(helper): add twitter_image for open_graph
  source/docs/helpers.md
  source/zh-cn/docs/helpers.md
  source/zh-tw/docs/helpers.md
Labels: Docs, zh, en

#2095 plugin: hexo-post-replace (fix file name)
  source/_data/plugins/hexo-post-replace.yml
Labels: Plugins

#2089 theme: add hexo-theme-cosy
  source/_data/themes/hexo-theme-cosy.yml
  source/themes/screenshots/hexo-theme-cosy.png
Labels: Themes

#2094 theme: add theme hexo-theme-maoblog
  source/_data/themes/maoblog.yml
  source/themes/screenshots/maoblog.png
Labels: Themes

#2093 docs: fix a error in configuration.md
  source/zh-cn/docs/configuration.md
Labels: Docs, zh

#2099 Elise theme added
  source/_data/themes/Elise.yml
  source/themes/screenshots/elise.png
Labels: Themes

#2022 docs(tag-plugins): add url_for and full_url_for(7.0.0+)
  source/docs/tag-plugins.md
  source/ru/docs/tag-plugins.md
  source/zh-cn/docs/tag-plugins.md
  source/zh-tw/docs/tag-plugins.md
Labels: Docs, zh, en, ru
