Repository hexojs/site, pull requests merged in 2024-06, with the labels that each got.

#2185 theme: add diversity
  source/_data/themes/diversity.yml
  source/themes/screenshots/diversity.png
Labels: Themes

#2186 theme: sea
  source/_data/themes/sea.yml
  source/themes/screenshots/sea.png
Labels: Themes

#2193 plugin: add hexo-markdown-image
  source/_data/plugins/hexo-markdown-image.yml
Labels: Plugins

#2194 plugin: add hexo-console-zhihu
  source/_data/plugins/hexo-console-zhihu.yml
Labels: Plugins

#2190 plugin: hexo-daily-news
  source/_data/plugins/hexo-daily-news.yml
Labels: Plugins

#2191 plugin: add hexo-create-issues
  source/_data/plugins/hexo-create-issues.yml
Labels: Plugins

#2196 docs: remove auto_spacing
  source/zh-cn/docs/configuration.md
  source/zh-tw/docs/configuration.md
Labels: Docs, zh
