Repository hexojs/site, pull requests merged in 2024-08, with the labels that each got.

#2226 add plugin hexo-pin
  source/_data/plugins/hexo-pin.yml
Labels: Plugins

#2233 feat(add-plugin): add plugin named 'hexo-robots'
  source/_data/plugins/hexo-robots.yml
Labels: Plugins

#2232 add plugin hexo-bangumi-gallery
  source/_data/plugins/hexo-bangumi-gallery.yml
Labels: Plugins

#2231 add plugin hexo-layout
  source/_data/plugins/hexo-layout.yml
Labels: Plugins

#2237 Add Animal theme with configuration and screenshot
  source/_data/themes/Animal.yml
  source/themes/screenshots/Animal.png
Labels: Themes

#2234 feat(add-plugin): add plugin named 'hexo-tag-swiper'
  source/_data/plugins/hexo-tag-swiper.yml
Labels: Plugins

#2235 Made some updates to theme JSimple
  source/_data/themes/JSimple.yml
  source/themes/screenshots/JSimple.png
Labels: Themes

#2242 Plugins: Add Plugin hexo-tag-bilibili-card
  source/_data/plugins/hexo-tag-bilibili-card.yml
Labels: Plugins

#2240 bump Node.js version of netlify
  .husky/install.mjs
  netlify.toml
  package.json
Labels: infra
