Repository hexojs/site, pull requests merged in 2024-05, with the labels that each got.

#2166 docs(zh-tw): update zh-tw translation
  source/zh-tw/docs/configuration.md
  source/zh-tw/docs/contributing.md
  source/zh-tw/docs/data-files.md
  source/zh-tw/docs/front-matter.md
  source/zh-tw/docs/one-command-deployment.md
  source/zh-tw/docs/tag-plugins.md
Labels: Docs, zh

#2177 Create hexo-analytics.yml
  source/_data/plugins/hexo-analytics.yml
Labels: Plugins

#2176 Add new theme: Meow
  source/_data/themes/Meow.yml
  source/themes/screenshots/Meow.png
Labels: Themes

#2181 theme: update theme Frame
  source/_data/themes/Frame.yml
Labels: Themes

#2182 feat: add hexo-theme-ruyun.
  source/_data/themes/ruyun.yml
  source/themes/screenshots/ruyun.png
Labels: Themes
