Repository hexojs/site, pull requests merged in 2024-10, with the labels that each got.

#2263 feat: hexo-theme-flowbite
  source/_data/themes/Flowbite.yml
  source/themes/screenshots/Flowbite.png
Labels: Themes

#2262 update contributing guide of translations
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  source/docs/contributing.md
Labels: Docs, infra, en

#2265 plugin: add hexo-zhruby
  source/_data/plugins/hexo-zhruby.yml
Labels: Plugins

#2273 fix(en/contributing): fix typo
  source/docs/contributing.md
Labels: Docs, en

#2275 Fix broken link in gitlab-pages.md
  source/docs/gitlab-pages.md
Labels: Docs, en

#2276 add plugin hexo-multiple-language-generate
  source/_data/plugins/hexo-multiple-language-generate.yml
Labels: Plugins
