Repository hexojs/site, pull requests merged in 2024-01, with the labels that each got.

#2126 plugin: add hexo-reveal-embed
  source/_data/plugins/hexo-reveal-embed.yml
Labels: Plugins

#2128 theme: update theme Reimu
  source/themes/screenshots/Reimu.png
Labels: Themes

#2130 plugin: add hexo-server-live plugin
  source/_data/plugins/hexo-server-live.yml
Labels: Plugins

#2132 plugin: add hexo-tag-ogp-link-preview
  source/_data/plugins/hexo-tag-ogp-link-preview.yml
Labels: Plugins

#2131 Add plugin hexo-pagecounter
  source/_data/plugins/hexo-pagecounter.yml
Labels: Plugins

#2129 theme: add Solitude
  source/_data/themes/Solitude.yml
  source/themes/screenshots/Solitude.png
Labels: Themes

#2133 theme: update link
  source/_data/themes/Solitude.yml
Labels: Themes

#2134 chore(news): release news `v7.1.0`
  source/_posts/2024-01-19-hexo-7-1-0-released.md
Labels: News

#2135 theme: add honeyworks
  source/_data/themes/honeyworks.yml
  source/themes/screenshots/honeyworks.png
Labels: Themes

#2136 docs(helper): relative_date and time_tag
  source/docs/helpers.md
  source/ru/docs/helpers.md
  source/zh-cn/docs/helpers.md
  source/zh-tw/docs/helpers.md
Labels: Docs, zh, en, ru

#2140 Added theme mdsuper
  source/_data/themes/mdsuper.yml
  source/themes/screenshots/mdsuper.png
Labels: Themes

#2143 add theme BP-Gallery
  source/_data/themes/BP-Gallery.yml
  source/themes/screenshots/BP-Gallery.png
Labels: Themes
