Repository hexojs/site, pull requests merged in 2024-07, with the labels that each got.

#2198 plugin: add hexo-generator-plus
  source/_data/plugins/hexo-generator-plus.yml
Labels: Themes, Plugins

#2201 plugin: add hexo-coliru
  source/_data/plugins/hexo-coliru.yml
Labels: Plugins

#2202 chore: release news v7.3.0
  source/_posts/2024-07-02-hexo-7-3-0-released.md
Labels: News

#2203 chore(deps): bump hexo deps
  package.json
Labels: infra

#2146 ci: add workflows of integrate with crowdin
  .github/workflows/crowdin-pr.yml
  .github/workflows/crowdin-upload-tran.yml
  .github/workflows/crowdin-upload.yml
  README.md
  crowdin.yml
Labels: infra

#2211 theme: add world
  source/_data/themes/world.yml
  source/themes/screenshots/world.png
Labels: Themes

#2210 docs(helpers/toc): `max_items` option `>=7.3.0`
  source/docs/helpers.md
Labels: Docs, en

#2213 ci(crowdin): add ja
  .github/workflows/crowdin-pr.yml
Labels: infra

#2215 docs(helpers/list_tags): fix typo
  source/docs/helpers.md
Labels: Docs, en

#2214 docs(helpers/css): Remove duplicate text
  source/docs/helpers.md
Labels: Docs, en
