Repository hexojs/site, pull requests merged in 2024-04, with the labels that each got.

#2155 docs(one-command-deployment): Japanese translation of #2153
  source/ja/docs/one-command-deployment.md
Labels: Docs, ja

#2154 docs: Add a social media share icon
  source/icon/og-image-wide.png
  source/icon/twitter-summary.png
  themes/navy/layout/partial/head.njk
Labels: zh, infra, en, ko, pt-br, ru, th, ja

#2156 docs(helpers/open_graph): Fix incorrect default value and unintended rendering
  source/docs/helpers.md
  source/ja/docs/helpers.md
  source/ko/docs/helpers.md
  source/pt-br/docs/helpers.md
  source/ru/docs/helpers.md
  source/th/docs/helpers.md
  source/zh-cn/docs/helpers.md
  source/zh-tw/docs/helpers.md
Labels: Docs, zh, en, ko, pt-br, ru, th, ja

#2158 styles: improve documents visibility
  themes/navy/source/css/_partial/highlight.styl
  themes/navy/source/css/_partial/page.styl
  themes/navy/source/css/_partial/sidebar.styl
Labels: infra

#2160 docs: fix the anchor link
  source/zh-tw/docs/configuration.md
Labels: Docs, zh

#2159 fix: incorrect `canonical` and `alternative` URL annotations
  scripts/helpers.js
  source/about/index.md
  themes/navy/layout/about.njk
  themes/navy/layout/partial/head.njk
Labels: infra

#2157 docs(zh-tw): update zh-tw translation
  source/zh-tw/docs/asset-folders.md
  source/zh-tw/docs/commands.md
  source/zh-tw/docs/configuration.md
  source/zh-tw/docs/contributing.md
  source/zh-tw/docs/index.md
Labels: Docs, zh

#2165 add plugins
  source/_data/plugins/hexo-abbrlink3.yml
  source/_data/plugins/hexo-encrypted-package-html.yml
  source/_data/plugins/hexo-generator-readme.yml
  source/_data/plugins/hexo-issue2readme.yml
  source/_data/plugins/hexo-obsdian-link-plus.yml
Labels: Plugins

#2085 docs: update permalink variables
  source/docs/permalinks.md
  source/ja/docs/permalinks.md
  source/ko/docs/permalinks.md
  source/pt-br/docs/permalinks.md
  source/ru/docs/permalinks.md
  source/th/docs/permalinks.md
  source/zh-cn/docs/permalinks.md
  source/zh-tw/docs/permalinks.md
Labels: Docs, zh, en, ko, pt-br, ru, th, ja

#2167 Add a plugin: hexo-filter-titlebased-link
  source/_data/plugins/hexo-filter-titlebased-link.yml
Labels: Plugins

#2168 chore: add plugin `hexo-front-matter-defaults`
  source/_data/plugins/hexo-front-matter-defaults.yml
Labels: Plugins

#2164 chore: use GitHub actions to sanitize themes & plugins list
  .github/workflows/cleaner.js
  .github/workflows/cleaner.yml
Labels: infra

#2170 chore: add plugin `hexo-browser-reloader-websocket`
  source/_data/plugins/hexo-browser-reloader-websocket.yml
Labels: Plugins

#2171 chore: release news v7.2.0
  source/_posts/2024-04-17-hexo-7-2-0-released.md
Labels: News

#2173 plugin: add create-hexo
  source/_data/plugins/create-hexo.yml
Labels: Plugins

#2172 plugin: add hexo-esbuild, hexo-htmlnano
  source/_data/plugins/hexo-esbuild.yaml
  source/_data/plugins/hexo-htmlnano.yml
Labels: Plugins
