Repository hexojs/site, pull requests merged in 2025-02, with the labels that each got.

#1568 docs(variables): fix returned type
  source/docs/variables.md
Labels: Docs, en

#2341 feat(plugin): add hexo-d2
  source/_data/plugins/hexo-d2.yml
Labels: Plugins

#2348 Add hexo-bluesky-feed plugin
  source/_data/plugins/hexo-bluesky-feed.yml
Labels: Plugins

#2346 add a new plugin: hexo-everyday-calendar
  source/_data/plugins/hexo-everyday-calendar.yml
Labels: Plugins

#2344 theme: add travel
  source/_data/themes/travel.yml
  source/themes/screenshots/travel.png
Labels: Themes

#2349 update hexo-everyday-calendar introduction and tag
  source/_data/plugins/hexo-everyday-calendar.yml
Labels: Plugins

#2084 feat: Support Chinese search
  package.json
  scripts/helpers.js
  themes/navy/layout/partial/after_footer.njk
Labels: infra

#2356 Create hexo-llm-tagging.yaml
  source/_data/plugins/hexo-llm-tagging.yaml
Labels: Plugins

#2352 fix: update language data structure for consistency
  scripts/helpers.js
  source/_data/languages.yml
Labels: infra

#2358 theme: add B143KC47/VSC4T-A-Hexo-Theme
  source/_data/themes/VSC4T.yml
  source/themes/screenshots/VSC4T.png
Labels: Themes
