Repository hexojs/site, pull requests merged in 2025-05, with the labels that each got.

#2378 plugin: add hexo-deployer-walrus
  source/_data/plugins/hexo-deployer-walrus.yml
Labels: Plugins

#2381 feat: Upgrade Algolia docsearch to v3
  _config.yml
  themes/navy/layout/partial/after_footer.njk
  themes/navy/layout/partial/head.njk
  themes/navy/layout/partial/header.njk
  themes/navy/source/css/_partial/header.styl
Labels: infra

#2384 theme: Publish 'Quinoa' - A personal wiki system
  source/_data/themes/Quinoa.yml
  source/themes/screenshots/Quinoa.png
Labels: Themes
