Repository hexojs/site, pull requests merged in 2025-03, with the labels that each got.

#2360 theme: Update VSC4T Path
  source/_data/themes/VSC4T.yml
Labels: Themes

#2350 Spanish docs translation
  .github/labeler.yml
  source/_data/languages.yml
  source/es/api/box.md
  source/es/api/console.md
  source/es/api/deployer.md
  source/es/api/events.md
  source/es/api/filter.md
  source/es/api/generator.md
  source/es/api/helper.md
  source/es/api/index.md
  source/es/api/injector.md
  source/es/api/locals.md
  source/es/api/migrator.md
  source/es/api/posts.md
  source/es/api/processor.md
  source/es/api/renderer.md
  source/es/api/rendering.md
  source/es/api/router.md
  source/es/api/scaffolds.md
  source/es/api/tag.md
  source/es/api/themes.md
  source/es/docs/asset-folders.md
  source/es/docs/commands.md
  source/es/docs/configuration.md
  source/es/docs/contributing.md
  source/es/docs/data-files.md
  source/es/docs/front-matter.md
  source/es/docs/generating.md
  source/es/docs/github-pages.md
  source/es/docs/gitlab-pages.md
  source/es/docs/helpers.md
  source/es/docs/index.md
  source/es/docs/internationalization.md
  source/es/docs/migration.md
  source/es/docs/one-command-deployment.md
  source/es/docs/permalinks.md
  source/es/docs/plugins.md
  source/es/docs/server.md
  source/es/docs/setup.md
  source/es/docs/syntax-highlight.md
  source/es/docs/tag-plugins.md
  source/es/docs/templates.md
  source/es/docs/themes.md
  source/es/docs/troubleshooting.md
  source/es/docs/variables.md
  source/es/docs/writing.md
  source/es/index.md
  themes/navy/languages/es.yml
Labels: Docs, infra, API

#2362 theme: add responsive tag，change screenshot
  source/_data/themes/diversity.yml
  source/themes/screenshots/diversity.png
Labels: Themes

#2363 theme: add Node-Tree
  source/_data/themes/Node-Tree.yml
  source/themes/screenshots/Node-Tree.png
Labels: Themes

#2366 add hexo-font-spider plugin
  source/_data/plugins/hexo-font-spider.yml
Labels: Themes, Plugins

#2367 update theme screenshot
  source/themes/screenshots/ProWiki.png
Labels: Themes
