Repository hexojs/site, pull requests merged in 2025-09, with the labels that each got.

#2420 add theme kuri
  source/_data/themes/kuri.yml
  source/themes/screenshots/kuri.png
Labels: Themes

#2429 chore: release news `v8.0.0`
  source/_posts/2025-09-16-hexo-8-0-0-released.md
Labels: News

#2432 fix(navy): a inexistent stylus variable
  themes/navy/source/css/_partial/page.styl
Labels: infra

#2431 plugin: add hexo-filter-copywriting
  source/_data/plugins/hexo-filter-copywriting.yml
Labels: Plugins

#2418 fix(header): fix missing hover style on lang-select
  themes/navy/source/css/_partial/header.styl
Labels: infra
