Repository hexojs/site, pull requests merged in 2025-04, with the labels that each got.

#2370 theme: add new theme united
  source/_data/themes/united.yml
  source/themes/screenshots/united.png
Labels: Themes

#2326 docs(Permalinks): add `:timestamp`
  source/docs/permalinks.md
Labels: Docs, en

#2376 chore: fail the action if validation failed
  .github/workflows/tester.yml
  scripts/validate.js
Labels: infra
