Repository hexojs/site, pull requests merged in 2025-01, with the labels that each got.

#2312 docs: fix truncated troubleshooting doc
  source/docs/troubleshooting.md
Labels: Docs, en

#2285 add plugin hexo-htmlnano-mini
  source/_data/plugins/hexo-htmlnano-mini.yml
Labels: Plugins

#2319 feat: add new theme InkSerenity
  source/_data/themes/InkSerenity.yml
  source/themes/screenshots/InkSerenity.png
Labels: Themes

#2323 new plugin: hexo-tips
  source/_data/plugins/hexo-tips.yml
Labels: Plugins

#2324 new plugin: hexo-stats-echarts
  source/_data/plugins/hexo-stats-echarts.yml
Labels: Plugins

#2327 Create Hexo-Blog-Like.yml
  source/_data/plugins/Hexo-Blog-Like.yml
Labels: Plugins

#2329 Add hexploit theme
  source/_data/themes/hexploit.yml
  source/themes/screenshots/hexploit.png
Labels: Themes
